/*Ella, May 8,2023*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#click-btn{
    padding: 20px;
    width: 50%;
    margin: 25%;
    text-transform:uppercase ;
}
.nav-bar{
    background-color: #0C134F;
    text-align: right;
    padding: 20px; 
    font-size: 1rem;
}
.nav-li{
    display: inline-block;
    text-transform: uppercase;
}
.nav-li-a{
    text-decoration: none;
    margin: 5px;
    color: #FFF8DE;
    padding-left: 25px;
}
@media screen and (max-width:700px){
    .nav-bar{
        text-align: center;
        font-size: 0.8rem;
    }
    .nav-li-a{
        padding-left: 10px;
    }
}
