/*Ella, May 8,2023*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#click-btn{
    padding: 20px;
    width: 50%;
    margin: 25%;
    text-transform:uppercase ;
}
.nav-bar{
    background-color: #0C134F;
    text-align: right;
    padding: 20px; 
    font-size: 1rem;
    
    box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
              0px 2px 4px rgba(0,255,255,0.5), 
              0px 4px 8px rgba(0,255,255,0.5), 
              0px 8px 16px rgba(0,255,255,0.5);
}
.nav-li{
    display: inline-block;
    text-transform: uppercase;
}
.nav-li-a{
    text-decoration: none;
    margin: 5px;
    color: #FFF8DE;
    padding-left: 25px;
}
footer {
    background-color: #0C134F;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    /*Ella May 9, 2023*/
    font-size: 0.8rem;
    text-transform: capitalize;
}
@media screen and (max-width:700px){
    .nav-bar{
        text-align: center;
        font-size: 0.8rem;
    }
    .nav-li-a{
        padding-left: 10px;
    }
}
@media screen and (max-width:450px) {
    .nav-bar {
        text-align: center;
        font-size: 0.7rem;
    }
    .nav-li {
        display: block;
    }

    .nav-li-a {
        padding-left: 5px;
    }
     /*Ella May 9, 2023*/
    footer{
        font-size: 0.6rem;
    }
}
