/*Ella - body and #click-btn styles added*/
body{
    background-color: azure;
    text-align: center;
    margin: 0;
}
#click-btn{
    padding: 20px;
    width: 50%;
    margin: 25%;
    text-transform:uppercase ;
}
